COMPOSE_PROJECT_NAME=django
APP_DOMAIN=django.local
PATH_TO_CODE=../code

# version to be installed
PHP_VERSION=8.1
PYTHON_VERSION=3.9
REDIS_VERSION=latest
NGINX_VERSION=stable
POSTGRES_MAJOR_VERSION=16
POSTGIS_MAJOR_VERSION=3
POSTGIS_MINOR_RELEASE=4

# ports exposed locally
HTTP_ON_HOST=8001
HTTPS_ON_HOST=44301
POSTGRES_ON_HOST=54321
REDIS_ON_HOST=6379

# database credentials
POSTGRES_DB=django_db
POSTGRES_USER=django
POSTGRES_PASSWORD=secret

